body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    background-image: url('1952.jpg');
    background-size: cover;
    background-position: center;
}

.game-container {
    text-align: center;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон для контраста */
    border-radius: 15px;
    padding: 20px;
}

.info-container {
    margin-bottom: 20px;
}

.scoreboard, .level-board, .shop-container {
    margin-bottom: 10px;
}

.scoreboard h1, .level-board h2, .shop-container h2 {
    margin: 0;
}

.shop-container button {
    padding: 10px;
    background-color: gold;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.shop-container button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.hamster-container img {
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.1s;
}

.hamster-container img:active {
    transform: scale(0.95);
}
